/********************************************************************************
 * #col3 show & hide
 ********************************************************************************/

/* footer has the same width as #col3.
The general idea is that footer always stays the same (size, position).
In other words, other elements move to creates room for footer. */

/* #col3 shown */
#col3 {
  padding-bottom: var(--footer-height) !important;
}

/* #col3 hidden */
#market-menu.col3-hidden {
  padding-right: 50px !important;
}

/* #col3 hidden
Due to flex sizing, padding & margin for #watchlist can't be used here,
as it would affect the height of both #watchlist and #history.
So #watchlist-table is used instead. */
#watchlist-table.col3-hidden {
  margin-bottom: var(--footer-height) !important;
}


/********************************************************************************
 * General
 ********************************************************************************/

footer {
  display: flex;
  background-color: rgb(16, 19, 26);
}

footer > div {
  flex: 1;
  text-align: center;
  cursor: pointer;
  line-height: var(--footer-height);
}

footer > div.selected {
  background-color: #2f3240;
}
