/********************************************************************************
 * Basic layout
 ********************************************************************************/

header {
  display: flex;

  height: 42px;
}

header > * {
  padding: 0 10px;
}

header > div {
  /* Header image fits, header content takes the rest */
  flex: 1;

  /* Vertical center text */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > a {
  display: block;
  height: 100%;
  width: 200px;
}

img {
  max-height: 100%;
}

/* Fix width of #vn-time when value changes */
#vn-time {
  display: inline-block;
  min-width: 63px;    /* Assume the longest string is 08:48:48 */
}


/********************************************************************************
 * Navigation
 ********************************************************************************/

header nav li {
  line-height: 20px;
}

header nav li a {
  font-weight: 700;
}


/********************************************************************************
 * Profit/Loss
 ********************************************************************************/

#profit-loss-value span:last-child {
  color: #ffd900;
  font-size: 15px;
}

#derivative-masters {
  background-color: #97037f;
}


/********************************************************************************
 * Account menu
 ********************************************************************************/

#account-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#upgrade-account {
  background-color: var(--primary);
  margin: 0 20px;
}

#my-account {
  line-height: 42px;
}

#my-account .drop-down-toggle:hover > span {
  display: inline-block;
  height: 100%;
}

#my-account .drop-down-toggle:hover > span > * {
  color: var(--primary);
}

#my-account .drop-down-toggle > span:hover {
  background-color: #2f3240;
}

#my-account .drop-down-menu {
  right: 0;
  /* Mouse usually moves to the center. Wider menu so when mouse move that way
     the menu is still hoverable, and thus visible */
  width: 125%;
  background-color: rgb(16, 19, 26);
  list-style: none;
  padding: 0;
}

#my-account .drop-down-menu > li {
  padding: 0 10px;
}

#my-account .drop-down-menu > li:hover > * {
  color: var(--primary);
}

#user-fullname {
  padding: 0 5px;
}
