/********************************************************************************
 * Reset
 ********************************************************************************/

* {
  font-size: 13px;
}

/* TODO: relax this */
a {
  text-decoration: none;
}


/********************************************************************************
 * Layout
 ********************************************************************************/

/* Full height, header-body layout */
html {
  height: 100%;
}

#col1 {
  flex: 1;
}

#col2 {
  width: 350px;
}

#col3 {
  width: 400px;
}

/* Margins */
#col1 > *, #col2 > *, #col3 > * {
  --panel-spacing: 2px;
  margin: 0 var(--panel-spacing) var(--panel-spacing) 0;
}

#col1 > :last-child, #col2 > :last-child, #col3 > :last-child {
  margin-bottom: 0;
}

#col3 > * {
  margin-right: 0;
}

/* Panel-specific size */
#chart, #history {
  flex: 3;
}

#market, #watchlist {
  flex: 2;
}

/* TODO: consider fixed for mobile layout */
footer {
  position: fixed;
  right: 0;
  bottom: 0;

  width: 400px;
  height: 30px;
}


/********************************************************************************
 * Colors
 ********************************************************************************/

:root {
  --primary: #f7941d;
}

* {
  color: white;
}

body {
  background-color: rgb(16, 19, 26);
}

#col1 > *, #col2 > *, #col3 > * {
  background-color: #2f3240;
}


/********************************************************************************
 * Table
 ********************************************************************************/

.gray-tr {
  background-color: #3a3d49;
}

table {
  width: 100%;
}

table * {
  text-align: center;
}

thead {
  color: #ccc;
  background-color: hsla(0,0%,47.1%,.15);
}

tr {
  height: 25px;
}


/********************************************************************************
 * Table selector
 * A tab-like layout to select a table among many
 * TODO: replace this with BS tab
 ********************************************************************************/

.table-selector {
  display: flex;
}

.table-selector > * {
  flex: 1;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}


/********************************************************************************
 * Utils
 ********************************************************************************/

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-bullet {
  list-style: none;
}

.hidden {
  display: none !important;
}

.color-primary {
  color: var(--primary);
}

.border {
  border: 1px solid #444;
}

.border-left {
  border-left: 1px solid #444;
}

.border-right {
  border-right: 1px solid #444;
}

.border-top {
  border-top: 1px solid #444;
}

.border-bottom {
  border-bottom: 1px solid #444;
}

/* drop-down instead of dropdown to avoid collision with BS down the line */
.drop-down {
  position: relative;
}

.drop-down .drop-down-menu {
  position: absolute;
  display: none;
}

.drop-down:hover .drop-down-menu {
  display: block;
}
