#market-chart-box {
  flex: 1;
}

#market-menu {
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  background-color: rgb(16, 19, 26);
}

#market-menu > li {
  padding: 5px 15px;
}

#market-menu > li > i {
  font-size: 15px;
  pointer-events: none;
  color: inherit;
}

.selected {
  color: var(--primary);
  font-weight: 700;
}
