#error-banner {
  text-align: center;
  color: red;
  margin: 5px 0;
}

.order-type {
  display: flex;
  justify-content: space-between;
}


/********************************************************************************
 * General forms
 ********************************************************************************/

#placeorder {
  --form-item-height: 30px;
}

/* White background already, so text must be black */
#placeorder input, #placeorder select, #placeorder option {
  color: initial;
}

#placeorder input:not([type=radio]), #placeorder select, #placeorder option {
  height: var(--form-item-height);
}

label { line-height: var(--form-item-height); }


/********************************************************************************
 * Stop order form
 ********************************************************************************/

#price-lower + label, #price-higher + label {
  --size: var(--form-item-height);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
}

#price-lower:checked + label, #price-higher:checked + label {
  background-color: var(--primary);
}


/********************************************************************************
 * Buy/Sell buttons
 ********************************************************************************/

.buy-sell button {
  min-width: 110px;
  height: var(--form-item-height);
}

button[value=buy] {
  background-color: green;
}

button[value=sell] {
  background-color: red;
}
