#placeorder {
  padding: 10px;
}

#error-banner {
  text-align: center;
  color: red;
  margin: 5px 0;
}

.order-type {
  display: flex;
  justify-content: space-between;
}


/********************************************************************************
 * General forms
 ********************************************************************************/

/* White background already, so text must be black */
select, option, input {
  color: initial;
}

input:not([type=radio]), select, option {
  height: 30px;
  border-radius: 4px;
  outline: none;
}

label { line-height: 30px; }


/********************************************************************************
 * Stop order form
 ********************************************************************************/

#price-lower + label, #price-higher + label {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
}

#price-lower:checked + label, #price-higher:checked + label {
  background-color: var(--primary);
}


/********************************************************************************
 * Buy/Sell buttons
 ********************************************************************************/

.buy-sell button {
  min-width: 110px;
  height: 30px;
}

button[value=buy] {
  background-color: green;
}

button[value=sell] {
  background-color: red;
}
