#error-banner {
  color: red;
}


/********************************************************************************
 * General forms
 ********************************************************************************/

#placeorder {
  --form-item-height: 30px;
}

/* White background already, so text must be black */
#placeorder input, #placeorder select, #placeorder option {
  color: initial;
}

#placeorder input:not([type=radio]):not([type=checkbox]), #placeorder select, #placeorder option {
  height: var(--form-item-height);
}


/********************************************************************************
 * Stop order form
 ********************************************************************************/

#price-lower + label, #price-higher + label {
  --size: var(--form-item-height);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
}

#price-lower:checked + label, #price-higher:checked + label {
  background-color: var(--primary);
}


/********************************************************************************
 * Buy/Sell buttons
 ********************************************************************************/

.buy-sell button {
  min-width: 110px;
  height: var(--form-item-height);
}

button[value=buy] {
  background-color: green;
}

button[value=sell] {
  background-color: red;
}
