#watchlist th > span {
  min-width: 20px;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

/* TODO: do this in SASS, as it is .gray-tr */
#watchlist-table > tbody > tr:nth-child(even) {
  background-color: var(--stripped-row);
}

#watchlist-table tr > *:nth-child(1) { width: 25%; }
#watchlist-table tr > *:nth-child(2) { width: 18%; }
#watchlist-table tr > *:nth-child(3) { width: 16%; }
#watchlist-table tr > *:nth-child(4) { width: 16%; }
#watchlist-table tr > *:nth-child(5) { width: 25%; }
