th > span {
  min-width: 17px;
}

.positive {
  color: lime;
}

.negative {
  color: red;
}

/* TODO: do this in SASS, as it is .gray-tr */
#watchlist tr:nth-child(even) {
  background-color: #3a3d49;
}
