/********************************************************************************
 * Basic layout
 ********************************************************************************/

header {
  display: flex;

  height: 42px;
}

header > * {
  padding: 0 10px;
}

header > div {
  /* Header image fits, header content takes the rest */
  flex: 1;

  /* Vertical center text */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > a {
  display: block;
  height: 100%;
  width: 200px;
}

img {
  max-height: 100%;
}


/********************************************************************************
 * Clock
 ********************************************************************************/

#vn-clock * {
  color: #f7941d;
}

#vn-time {
  font-weight: 700;
}


/********************************************************************************
 * Navigation
 ********************************************************************************/

header nav {
  margin-right: 20px;
}

header ul {
  padding-left: 20px;
  display: flex;    /* No space for inline-block li items */
}

header li {
  display: inline-block;    /* Horizontal list */
  border-collapse: collapse;
  font-weight: 700;
  border-left: 1px solid #444;
  line-height: 20px;
}

header li:last-child {
  border-right: 1px solid #444;
}

header li a {
  margin: 0 10px;
}

.nav-selected {
  color: #f7941d;
}


/********************************************************************************
 * Profit/Loss
 ********************************************************************************/

#profit-loss-value {
  margin-right: 20px;
}

#profit-loss-value span:first-child {
  color: #f7941d;
}

#profit-loss-value span:last-child {
  color: #ffd900;
  font-size: 15px;
}

#derivative-masters {
  background-color: #97037f;
}


/********************************************************************************
 * Account menu
 ********************************************************************************/

#account-menu {
  margin-left: auto;
  display: flex;
}
