/********************************************************************************
 * Panel title bar
 ********************************************************************************/

#panel-title {
  display: flex;
  align-items: center;
}

#panel-title-content {
  order: -1;
  flex: 1;
}

#panel-control > * {
  margin-right: 10px;
}


/********************************************************************************
 * Orderbook
 ********************************************************************************/

/* Day Order table */
#day-order-table th:nth-child(1), #day-order-table td:nth-child(1) { width: 13%; }
#day-order-table th:nth-child(2), #day-order-table td:nth-child(2) { width: 23%; }
#day-order-table th:nth-child(3), #day-order-table td:nth-child(3) { width: 18%; }
#day-order-table th:nth-child(4), #day-order-table td:nth-child(4) { width: 15%; }
#day-order-table th:nth-child(5), #day-order-table td:nth-child(5) { width: 31%; }

/* Conditional Order table */
#conditional-order-table th:nth-child(1), #conditional-order-table td:nth-child(1) { width: 12%; }
#conditional-order-table th:nth-child(2), #conditional-order-table td:nth-child(2) { width: 17%; }
#conditional-order-table th:nth-child(3), #conditional-order-table td:nth-child(3) { width: 17%; }
#conditional-order-table th:nth-child(4), #conditional-order-table td:nth-child(4) { width: 12%; }
#conditional-order-table th:nth-child(5), #conditional-order-table td:nth-child(5) { width: 12%; }
#conditional-order-table th:nth-child(6), #conditional-order-table td:nth-child(6) { width: 20%; }
#conditional-order-table th:nth-child(7), #conditional-order-table td:nth-child(7) { width: 10%; }
