#market {
  display: flex;
  flex-direction: column;
}

#market-chart-box {
  flex: 1;
}

#market-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #444;
  height: 30px;
  background-color: rgb(16, 19, 26);
}

#market-menu > li {
  padding: 5px 15px;
  cursor: pointer;
}

#market-menu > li > i {
  font-size: 15px;
  pointer-events: none;
  color: inherit;
}

/* TODO: merge with .table-selected */
.selected {
  color: #f7941d;
  font-weight: 700;
}
